*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

a{
    display: inline-block;

}

header .container a
{
    color:green;
    text-decoration: none;
    margin: 0 15px;
}

header{
    background-color: white;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .container .logo
{
    width: 10px;
}


.container{
    width: 1140px;
    margin: 0 auto 0 auto;
    padding-right: 15px;
    padding-left: 15px;

}
#inicio{
    position: relative;

}
#inicio img{
    width: 100%;
    display: block;
}
#inicio .bloque-inicio{
   position: absolute;
   top: 40%;
   left: 50%;
   width: 400px;
   text-align: center;
   margin-left: -200px; 
}
#inicio .bloque-inicio h1{
    background: rgba(255, 255, 255, 0.226);
    color:white;
    font-size: 40px;
}
.boton{
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
}
.boton.boton-verde
{
    color: white;
    background-color:teal;
    font-size: 20px;
    font-weight: bold;
}
