*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

a{
    display: inline-block;

}

header .container nav a
{
    color:green;
    text-decoration: none;
    margin: 0 15px;
}

header{
    background-color: white;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}




.container{
    width: 1140px;
    margin: 0 auto 0 auto;
    padding-right: 15px;
    padding-left: 15px;

}
#inicio{
    position: relative;

}
#inicio img{
    width: 100%;
    display: block;
}
#inicio .bloque-inicio{
   position: absolute;
   top: 40%;
   left: 50%;
   width: 400px;
   text-align: center;
   margin-left: -200px; 
}
#inicio .bloque-inicio h1{
    background: rgba(255, 255, 255, 0.226);
    color:white;
    font-size: 40px;
}
.boton{
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
}
.boton.boton-verde
{
    color: white;
    background-color:teal;
    font-size: 20px;
    font-weight: bold;
}
.seccion{
    padding-top: 60px;
    padding-bottom: 60px;
}
#servicios{
    position: relative;
}
#servicios img{
    width: 300px;

}
#servicios .bloque-servicio{
    border: 1px solid grey;
}

#servicios .bloque-servicio .bloque-img-servicio{

}
#servicios .bloque-servicio .bloque-img-servicio img{
    width: 100%;
}

#servicios .bloque-servicio .bloque-contenido-servicio{
    padding: 15px; /*todos los lados tendran esa cantidad*/
}
#servicios .bloque-servicio .bloque-contenido-servicio h3{
    margin-top: 0;
    font-size: 35px;
}

.row {
   display: flex;
   flex-wrap: wrap; /*si una de las columnas no llega a entrar dentro del wor, se ira abajo*/
    margin-left: -15px;
    margin-right: -15px;
}
.columna{
    padding-right: 15px;
    padding-left: 15px;

}
.columna-33{
    width: 50%; /*son 2 imagenes 100/2*/
}


#nosotros{
    background-color: green;
    background-size: cover;
    color: white;
    text-align: center;
}
#nosotros p{
    color: white;
    text-align: center;
    font-size: 30px;
    /*margin: 0; */
}

